<!DOCTYPE html>
<html lang="en">
<head>
    {% load static %}
    <meta charset="UTF-8">
    <title>{% block title %} starbox {% endblock %}</title>
    <link rel="stylesheet" href="{% static 'css/style.css' %}">
    {% block extra_css %}{% endblock %}
</head>
<body>
    <nav>
        This is the nav component
    </nav>
    <!--  child components sit here  -->
    <main>
      {% block content %}
      {% endblock %}
    </main>

    <footer>
        The footer component
    </footer>

    {% block extra_js %}{% endblock %}
</body>
</html>